/* Chatbot.module.css */

.chatbotButton {
  position: fixed;
  bottom: 100px; /* Adjust this to move above the Scroll to Top button */
  right: 20px;
  background-color: #0070f3;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.chatbotButton:hover {
  background-color: #005bb5;
}

.chatbotContainer {
  position: fixed;
  bottom: 180px; /* Adjust to ensure it is not covering the Scroll to Top button */
  right: 20px;
  width: 350px;
  height: 430px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.chatbotIframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .chatbotContainer {
    bottom: 170px; /* Adjust to ensure it is not covering the Scroll to Top button */
    right: 10px;
    width: 300px;
    height: 370px;
  }
}

@media (max-width: 480px) {
  .chatbotContainer {
    bottom: 160px; /* Adjust to ensure it is not covering the Scroll to Top button */
    right: 5px;
    width: 250px;
    height: 320px;
  }
}
